ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-top: 20px;
  }

img {
    height: auto;
    max-width: 100%;
}

p {
    font-family: 'Verdana', sans-serif;
}

h2 {
    font-family: 'Verdana', sans-serif;
}

tr {
    font-family: 'Verdana', sans-serif;
    padding: 1rem;
}

.actual{
    background-color: aqua;
}

td {
    font-family: 'Verdana', sans-serif;
    padding: 0.5rem;
    margin: auto;
}

.colorHover{
  background-color: aqua;
}